<div class="error-common error-server">
  <div class="error-common__wrapper">
    <div class="error-common__img"></div>

    <div class="error-common__error-content error-content">
      <div class="error-common__top-block">
        <div class="error-content__header">Server</div>
        <div class="error-content__indicator">error</div>
      </div>
      <div class="error-common__bottom-block">
        <h4>Oops, something went wrong!</h4>
        <p>Whatever happened, it was probably our fault. We're trying to solve it.</p>
      </div>
    </div>

  </div>
</div>
