<div class="error-common error404">
  <div class="error-common__wrapper">
    <div class="error-common__img"></div>

    <div class="error-common__error-content error-content">
      <div class="error-common__top-block">
        <div class="error-content__header">404</div>
        <div class="error-content__indicator">error</div>
      </div>
      <div class="error-common__bottom-block">
        <h4>The page cannot be found</h4>
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily
          unavailable.</p>
        <button class="btn orange-btn" [routerLink]="['/']">Home</button>
      </div>
    </div>

  </div>
</div>
